{% extends 'base.html' %}
{% load url from future %}

{% block content %}

<h1>{{ reward.title }}</h1>

<p>
  <b>owner</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ reward.relation.owner.profile.avatar }}">
  {{ reward.relation.owner }}
  </span>
</p>

<p>
  <b>quester</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ reward.relation.quester.profile.avatar }}">
  {{ reward.relation.quester }}
  </span>
</p>

<p>
  <b>price</b> <br>
  {% if reward.price <= 5 %}
    {% for i in ""|ljust:reward.price %}<img src="{{ STATIC_URL }}images/carrot.png">{% endfor %}<br>
  {% else %}
    <img src="{{ STATIC_URL }}images/carrot.png"> x {{ reward.price }}<br>
  {% endif %}
</p>

<b>created:</b> {{ reward.creation_date }}<br>
<b>status:</b> {{ reward.get_status_display }}<br>

{% endblock %}