{% extends 'base.html' %}
{% load url from future %}

{% block content %}

<h1>{{ reward.title }}</h1>

<p>
  <b>owner</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ reward.relation.owner.profile.avatar }}">
  {{ reward.relation.owner }}
  </span>
</p>

<p>
  <b>quester</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ reward.relation.quester.profile.avatar }}">
  {{ reward.relation.quester }}
  </span>
</p>

<p>
  <b>price</b><br>
  {{ reward.get_price_html }}<br>
</p>

<b>created:</b> {{ reward.creation_date }}<br>
<b>status:</b> {{ reward.get_status_display }}<br>

{% endblock %}