/* @import url("gradient.css"); */
@import url("pm_messages.css");
/* @import url("button.css"); */

/* 
__author__ = "Eraldo Helal" 
*/

   /* Begin base styling */
	/* body, */
	html {
		margin:0;
		padding:10px;
		color:#000;
		background:#EDF3FE;
        background-image: url('../images/carrots-bg.png');
        background-position: center top;
        font: small/1.3 Arial, Helvetica, sans-serif;
	}
	#page-wrapper {
		width:750px;
		margin:0 auto;
		background:#fff;
        border-radius: 15px;
        -moz-border-radius: 15px;
        /* overflow:hidden; */
	}
    @font-face {
        font-family: 'LOT';
        src: url('LOT.otf');
        src: local('☺'),
        url("LOT.otf") format("opentype");
    }
    @font-face {
        font-family: 'rtw';
        src: url('raleway_thin-webfont.ttf');
        src: local('☺'),
        url('../fonts/raleway_thin-webfont.ttf') format('truetype');    
    }
    #logo {
        /* border-radius: 15px; */
        /* -moz-border-radius: 15px; */
        border-top-left-radius: 15px;
        -moz-border-radius-topleft: 15px;
        border-top-right-radius: 15px;
        -moz-border-radius-topright: 15px;
        text-align: center;
        font-family: 'rtw', Georgia, serif;
        font-weight: 900;
        font-size: 1.5em;
        padding: 1em 8px;
        color: #333;
        background-color: #539fe1; /* was 069 */
        margin: 0;
    }
    #logo a {
        text-decoration:none;
        color: #333;
    }
    h1 {
	    margin:0;
    }
    a:hover {
        color: #FF9900 !important;

    }
	#header {
	}
	#content {
		float:left;
		width:600px;
		padding:20px 40px 40px 40px;
		background:#F8F8F8 ; /* TODO: find better color */
        border-right: 1px solid #ccc;
	}
	#content h1 {
        font-family: 'rtw', Georgia, serif;
		margin:0 0 0.5em;
        color: #069;
	}
	#sidebar {
		float:right;
		width:49px;
		padding:10px;
		background:#fff;
	}
	#footer {
		clear:both;
		padding:5px 10px;
        border-top: 1px solid #ccc;
        font-size: 0.5em;
	}
    #footer .logout {
            float:right;
    }
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}
   /* End base styling */


   /* Begin menu bar styling */
   #menu {
   }
   #menu ul {
       width: 100%;
       float: left;
       margin: 0 0 0 0;
       padding: 0;
       list-style: none;
       background-color: #f2f2f2;
       border-bottom: 1px solid #ccc; 
       border-top: 1px solid #ccc; }
   #menu li {
       float: left; }
   #menu li a {
       display: block;
       padding: 8px 15px;
       text-decoration: none;
       font-weight: bold;
       color: #069;
       border-right: 1px solid #ccc; }
   #menu li a:hover {
       color: #FF9900;
       background-color: #fff; }
   /* End menu bar styling. */


   /* Begin sub-menu bar styling */
   #postman_menu {
       background-color: #e0e0e0 !important;
   }
   #postman_menu ul {
   }
   #postman_menu li {
   }
   #postman_menu li a {
       padding: 2px 15px;
       font-weight: normal;
   }
   #postman_menu li a:hover {
   }
   /* End sub-menu bar styling. */


   /* Start add button styling. */
   #add {
       Background-color: #cfc;
       display : inline-block;
       float: right;
       cursor : pointer;
       
       border-style : solid;
       border-width : 1px;
       border-radius : 50px;
       padding : 4px 8px;
       box-shadow : 0 1px 4px rgba(0,0,0,.6);
       font-size : 8pt;
       font-weight : bold;
       color : #fff;
       text-shadow : 0 1px 3px rgba(0,0,0,.4);
       font-family : sans-serif;
       text-decoration : none;

       border-color: #8fc800;
       background: #8fc800;
       background: -moz-linear-gradient(top, #8fc800 0%, #438c00 100%);
       background: -webkit-gradient(linear, left top, left bottom, 
                                    color-stop(0%,#8fc800), color-stop(100%,#438c00));
       background: -webkit-linear-gradient(top, #8fc800 0%,#438c00 100%);
       background: -o-linear-gradient(top, #8fc800 0%,#438c00 100%);
       background: -ms-linear-gradient(top, #8fc800 0%,#438c00 100%);
       background: linear-gradient(top, #8fc800 0%,#438c00 100%);
       filter: progid:DXImageTransform.Microsoft.gradient( 
           startColorstr='#8fc800', endColorstr='#438c00',GradientType=0 );
   }
   /* End add button styling. */


   /* Start table styling. */
   .paleblue, .table-container, #pm_messages {
       width: 100%;
   }
   table.paleblue + ul.pagination {
       padding: 2px 10px 2px 10px !important;
       background-position: top !important;
   }
   table.paleblue + ul.pagination > li {
       line-height: 13px !important;
   }
   /* End table styling. */

   /* Start postman styling. */
   .help {
       display: none;
   }
   /* End postman styling. */


   /* Start form styling. */
   label {
       /* width: 80px; */
       /* float: left; */
       /* text-align: right; */
       /* margin-right: 10px; */
       /* display: block */
       font-weight: bold;
   }
   /* End form styling. */


   #messages {
       clear:left;
       margin: 0;
   }
   #messages ul.messages {
       padding: 0 0 0 0;
       margin: 0;
   }
   #messages li {
       font-size: 12px;
       display: block;
       padding: 4px 5px 4px 25px;
       margin: 0 0 0 0;
       border-bottom: 1px solid #ddd;
       color: #666;
   }

   #messages li.info {
       background: #ffc url(../images/icon_info.gif) 5px 0.5em no-repeat;
   }
   #messages li.error {
       background: #ffc url(../images/icon_error.gif) 5px 0.5em no-repeat;
   }
   #messages li.success {
       background: #ffc url(../images/icon_success.gif) 5px 0.5em no-repeat;
   }

   /* Start login page styling. */
   .signin-google {
       background-image: url('../images/login/signin_google.png');
       display: block;
       padding: 32px 0 0 0;
       overflow: hidden;
       background-repeat: no-repeat;
       height: 0px !important;
       height /**/:32px;
   }
   .signin-facebook {
       background-image: url('../images/login/signin_facebook.png');
       display: block;
       padding: 32px 0 0 0;
       overflow: hidden;
       background-repeat: no-repeat;
       height: 0px !important;
       height /**/:32px;
   }
   /* End login page styling. */


   /* End settings styling. */
   #settings {
       float:right;
   }
   #settings a:link {
       text-decoration: none !important;
   }
   #settings img#icon {
       height: 25px;
       vertical-align: middle;
       padding: 4px 0px 4px 4px;
   }
   #center-text {
       text-align: center;
   }
   /* End settings styling. */


   /* Start date styling. */
   #deadline-due {
       color: #f00;
   }
   #deadline-not-due {
       color: #080;
   }
   #deadline-soon-due {
       color: #f80;
   }
   #deadline-over-due {
       color: #888;
   }
   /* End date styling. */


   /* Start content styling. */
   #user-link {
       color: #5B80B2;
       text-decoration: none;
       font-weight: bold;
       margin: 0px;
   }

   #image {
       max-height: 250px;
   }

   #icon {
       padding-top: 0px;
       max-height: 32px;
       vertical-align: top;
   }

   table #user-link-text {
       display: block;
       text-align: center;
   }
   table td.owner img, td.quester img {
       display: block;
       margin: 0 auto;
   }

   table #user-link {
       display: block;
       /* max-width: 65px; */
       margin: 0 auto;
   }
   #user-link-text {
       display: block;
   }

   th.rating {
       width: 130px;
   }
   th.owner, th.quester {
       width: 40px;
   }
   th.accept, th.decline, th.confirm, th.deny, th.complete, th.buy {
       width: 40px;
   }
   td.accept input, td.decline input, td.confirm input, td.deny input, td.complete input, td.buy input {
       display: block;
       margin: 0 auto;
   }
   td.image img {
       display: block;
       margin: auto auto;
   }
   /* End content styling. */
