{% extends 'base.html' %}
{% load url from future %}
{% load render_table from django_tables2 %}

{% block extra-head %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block content %}

<a href="{% url 'relations:add' %}" id="add">+ add relation</a>
<h1>Owned Relations</h1>
{% render_table owned_table %}
<br>
<h1>Assigned Relations</h1>
{% render_table assigned_table %}
<br>
<h1>All Relations</h1>
{% render_table object_list %}

{% endblock %}
