{% extends 'base.html' %}
{% load url from future %}

{% block content %}

<h1>All Quests</h1>
{% if all_quests %}
    <ul>
    {% for quest in all_quests %}
        <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No quests are available.</p>
{% endif %}

<h1>Owned Quests</h1>
{% if owned_quests %}
    <ul>
    {% for quest in owned_quests %}
        <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No quests are available.</p>
{% endif %}

<h1>Assigned Quests</h1>
{% if assigned_quests %}
    <ul>
    {% for quest in assigned_quests %}
        <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No quests are available.</p>
{% endif %}
    
{% endblock %}