{% extends 'base.html' %}
{% load url from future %}
{% load render_table from django_tables2 %}

{% block content %}

<a href="{% url 'quests:add' %}">+ add quest</a>
<br><br>

<h1>All Quests</h1>
<ul>
  {% for quest in all_quests %}
    <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}----{{ quest.relation }}</a></li>
  {% empty %}
    <li>No quests are available.</li>
  {% endfor %}
</ul>

<h1>Owned Quests</h1>
<ul>
  {% for quest in owned_quests %}
    <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}</a></li>
  {% empty %}
    <li>No quests are available.</li>
  {% endfor %}
</ul>

<h1>Assigned Quests</h1>
<ul>
  {% for quest in assigned_quests %}
    <li><a href="{% url 'quests:detail' quest.id %}">{{ quest.title }}</a></li>
  {% empty %}
    <li>No quests are available.</li>
  {% endfor %}
</ul>    
{% endblock %}