{% extends 'base.html' %}
{% load url from future %}

{% block content %}

<h1>{{ quest.title }}</h1>

{{ quest.description }}<br>

<p>
  <b>owner</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ quest.relation.owner.profile.avatar }}">
  {{ quest.relation.owner }}
  </span>
</p>

<p>
  <b>quester</b><br>
  <span id="center-text">
  <img id="avatar" src="{{ MEDIA_URL }}{{ quest.relation.quester.profile.avatar }}">
  {{ quest.relation.quester }}
  </span>
</p>

<p>
  <b>rating</b><br>
  {% for i in quest.get_rating_display %}
    <img src="{{ STATIC_URL }}images/carrot.png">
  {% endfor %}<br>
</p>

<p>
  <b>deadline:</b> {{ quest.deadline }}<br>
</p>

<b>created:</b> {{ quest.creation_date }}<br>
<b>activated:</b> {{ quest.activation_date }}<br>
<b>status:</b> {{ quest.get_status_display }}<br>

{% endblock %}