{% extends 'base.html' %}
{% load url from future %}
{% load render_table from django_tables2 %}


{% block extra-head %}
<link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}


{% block content %}

{% if owner %}
  <a href="{% url 'quests:add' %}" id="add">+ add quest</a>
{% endif %}

{% if not pending and not completed and not assigned and not owned and not waiting and not proposed %}
You don't have any quests at the moment. ;)
{% endif %}

{% if pending %}
  <h1>Pending Quests</h1>
  {% render_table pending_table %}
  <br>
{% endif %}

{% if completed %}
  <h1>Completed Quests</h1>
  {% render_table completed_table %}
  <br>
{% endif %}

{% if assigned %}
  <h1>My Quests</h1>
  {% render_table assigned_table %}
  <br>
{% endif %}

{% if owned %}
  <h1>Owned Quests</h1>
  {% render_table owned_table %}
  <br>
{% endif %}

{% if waiting %}
  <h1>Waiting for Approval </h1>
  {% render_table waiting_table %}
  <br>
{% endif %}

{% if proposed %}
  <h1>Waiting for Acceptance</h1>
  {% render_table proposed_table %}
  <br>
{% endif %}

<!-- <h1>All Quests</h1> -->
<!-- {% render_table object_list %} -->

{% endblock %}