{% extends 'base.html' %}

{% block extra-head %}
<script src='{{ STATIC_URL }}jquery-rating/jquery.js' type="text/javascript"></script>
<script src='{{ STATIC_URL }}jquery-rating/jquery.rating.js' type="text/javascript" language="javascript"></script>
<link href='{{ STATIC_URL }}jquery-rating/jquery.rating.css' type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<h1>New Quest</h1>
<form method="POST">
{% csrf_token %}
<!-- {{ form|linebreaksbr }} -->

{% for field in form %}
  <p>
  {% if field.label == "Rating" %}
    {{ field.errors }}
    {{ field.label_tag }}<br>
    {% for radio in form.rating %}
      {{ radio.tag }}
    {% endfor %}<br><br>
  {% else %}
    {{ field.errors }}
    {{ field.label_tag }} <br>{{ field }}
  {% endif %}
  </p>
  {% endfor %}

<input type="submit" value="Create" />
</form>

{% endblock %}