<!DOCTYPE html>
<!--
__author__ = "Eraldo Helal"
 -->
{% load url from future %}
{% load postman_tags %}
{% postman_unread as unread_count %}
<html lang="en">


<head>
  <title>{% block base_title %}Carrotwars{% endblock %} - {% block title %}Welcome{% endblock %}</title>

  <link href="{{ STATIC_URL }}css/common.css" rel="stylesheet" type="text/css" media="screen" />

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dropdownmenu/dropdownmenu.js"></script>
  <link href="{{ STATIC_URL }}dropdownmenu/dropdownmenu.css" rel="stylesheet" type="text/css" media ="screen" />

  {% block extra-head %}{% endblock %}
</head>


<body>
<div id="page-wrapper">
  {% block header %}
  <div id="logo">
    <h1><a href="/">
      <img src="{{ STATIC_URL }}images/logo1.png" alt="logo" />
      Carrotwars
      <img src="{{ STATIC_URL }}images/logo2.png" alt="logo" />
    </a></h1>
  </div>
  <div id="header">
    <div id="menu">
      <ul id="main_menu">
        <li><a href="{% url 'home' %}" class="first">Home</a></li>
        <li><a href="{% url 'relations:list' %}">Relations</a></li>
        <li><a href="{% url 'quests:list' %}">Quests</a></li>
        <li><a href="{% url 'rewards:list' %}">Rewards</a></li>
        <li><a href="/messages/">Messages
          {% if user.is_authenticated and unread_count > 0 %}<span style="font-weight:normal;">({{ unread_count }})</span>{% endif %}</a>
        </li>
        <div id="settings">
          <div class="dropdown">
          {% if user.profile.avatar %}
          <a class="account" >
            <span id="center-text">
              {{ user.username|title }}
            </span>
            <img id="avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar }}">
            <img src="{{ STATIC_URL }}dropdownmenu/icons/arrow.png">
            </a>

          <div class="submenu">
            <ul class="root">
              <!-- <li ><a href="#profile" >Profile</a></li> -->
              <!-- <li ><a href="#settings">Settings</a></li> -->
              <!-- <li ><a href="#feedback">Send Feedback</a></li> -->
              <li ><a href="{% url 'logout' %}" >Logout</a></li>
            </ul>
          </div>
          {% endif %}
          </div>
        </div>
      </ul>
      {% block postman_menu %}{% endblock %}
    </div>
  </div>
  {% endblock %}
  <div id="page">
    {% block messages %}
    <div id="messages">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% endblock %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div id="sidebar">
    {% block sidebar %}
    Sidebar stuff..
    {% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    {% if user.is_authenticated %}
    Welcome {{ user.username|title }}  |  
    last update: {% now "Y-m-d" %}
    <span class="logout"><a href="{% url 'logout' %}">Logout</a></span>
    {% else %}
    Welcome.. please log in.  |  
    last update: {% now "Y-m-d" %}
    {% endif %}
    {% endblock %}
  </div>
</div>




        <div id="settings">
          <div class="dropdown">
          {% if user.profile.avatar %}
          <a class="account" >
            <span id="center-text">
              {{ user.username|title }}
            </span>
            <img id="avatar" src="{{ MEDIA_URL }}{{ user.profile.avatar }}">
          </a>

          <div class="submenu">
            <ul class="root">
              <!-- <li ><a href="#profile" >Profile</a></li> -->
              <!-- <li ><a href="#settings">Settings</a></li> -->
              <!-- <li ><a href="#feedback">Send Feedback</a></li> -->
              <li ><a href="{% url 'logout' %}" >Logout</a></li>
            </ul>
          </div>
          {% endif %}
          </div>
        </div>





</body>


</html>
